<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- See configuration in WebMvConfig.java -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet" media="screen"/>

        <script th:src="@{/jquery/jquery.min.js}"></script>
        <script th:src="@{/popper/popper.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <title>Persons</title>
    </head>
    <body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Firstname</td>
                    <td>Lastname</td>
                    <td>Age</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="person, iter : ${persons}">
                    <td th:id="id + ${iter.index}" th:text="${person.id}"></td>
                    <td th:id="firstname + ${iter.index}" th:text="${person.firstname}"></td>
                    <td th:id="lastname + ${iter.index}" th:text="${person.lastname}"></td>
                    <td th:id="age + ${iter.index}" th:text="${person.age}"></td>
                    <td>
                        <a th:id="editPerson + ${iter.index}" class="btn btn-primary" th:href="@{'/persons/edit/{id}'(id=${person.id})}"><span th:text="Edit"></span></a>
                        </a>
                        <form action="#" th:action="@{'/persons/delete/{id}'(id=${person.id})}" th:method="delete" >
                        <input type="hidden" name="_method" value="delete" />
                        <input class="btn btn-default" type="submit" th:id="deletePerson + ${iter.index}" value="Delete" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:id="addPerson" class="btn btn-primary" th:href="@{/persons/new}"><span th:text="Add"></span></a>
    </div>
    </body>

</html>